*{
  margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;

}

p {
  border: 1px solid;
  margin: 0;
  border-radius: 19px;
  
  
}

img {
  border-radius: 19px;
}
.card {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.95s;
  background: aliceblue;
  border-radius: 19px;
  margin-top: 25px;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
}

.card:hover {
  box-shadow: 0 15px 18px 0 rgb(0, 0, 0);
}

strong{
  color: red;
  margin: 5px;
  font-weight: bold;
  font-size: 22px;
}

#dis{
  color: rgb(13, 12, 12);
}